.am,
.frameChild {
  position: relative;
}
.frameChild {
  height: 76px;
  width: 180px;
  border-radius: var(--br-3xs);
  background-color: var(--background-color);
  border: 1px solid var(--ys-primary-color);
  box-sizing: border-box;
  display: none;
}
.am {
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--background-color);
  border: 1px solid var(--ys-primary-color);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-8xl) var(--padding-7xl);
  white-space: nowrap;
}
.am1,
.frameItem {
  position: relative;
}
.frameItem {
  height: 76px;
  width: 180px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  display: none;
}
.am1 {
  display: inline-block;
  min-width: 124px;
  z-index: 1;
}
.rectangleGroup,
.timeSlots {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleGroup {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-9xl) var(--padding-9xl);
  white-space: nowrap;
  color: var(--color-darkslategray-100);
}
.timeSlots {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-16xl);
  min-width: 117px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--ys-primary-color);
  font-family: var(--font-source-sans-pro);
}
