@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-source-sans-pro: "Source Sans Pro";
  --font-inter: Inter;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-3xl: 22px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-7xl: 26px;
  --font-size-lgi: 19px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --font-size-lg: 18px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-21xl: 40px;
  --font-size-sm: 14px;
  --font-size-16xl: 35px;
  --font-size-9xl: 28px;
  --font-size-41xl: 60px;

  /* Colors */
  --background-color: #fff;
  --ys-primary-color: #fc1c00;
  --color-orangered: #ff4226;
  --color-black: #000;
  --color-darkslategray-100: #464646;
  --text-secondary: #333;
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #f2f2f2;
  --color-darkgray: #adacac;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #e6d4d4;
  --color-gainsboro-300: #d9d9d9;
  --color-lavenderblush: #ffeded;
  --color-mediumblue: #0202bf;
  --color-mistyrose: #ffdfdf;
  --color-silver: #cbc7c7;
  --color-lavender: #dfecff;
  --color-darkslateblue: #6666b3;
  --color-honeydew: #e8ffec;
  --color-darkgreen: #025d10;

  /* Gaps */
  --gap-xl: 20px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-18xl-3: 37.3px;
  --gap-lgi: 19px;
  --gap-88xl: 107px;
  --gap-34xl: 53px;
  --gap-8xl: 27px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-14xl: 33px;
  --gap-base: 16px;
  --gap-xl-3: 20.3px;
  --gap-32xl: 51px;
  --gap-smi: 13px;
  --gap-49xl: 68px;
  --gap-15xl: 34px;
  --gap-3xl: 22px;
  --gap-63xl: 82px;
  --gap-22xl: 41px;
  --gap-21xl: 40px;
  --gap-4xs: 9px;
  --gap-86xl: 105px;
  --gap-7xl: 26px;
  --gap-33xl: 52px;
  --gap-60xl: 79px;
  --gap-20xl: 39px;
  --gap-8xs: 5px;
  --gap-10xs: 3px;
  --gap-5xl: 24px;
  --gap-79xl: 98px;
  --gap-30xl: 49px;
  --gap-26xl: 45px;
  --gap-3xs: 10px;
  --gap-25xl: 44px;
  --gap-148xl: 167px;
  --gap-23xl: 42px;
  --gap-64xl: 83px;
  --gap-2xl: 21px;
  --gap-43xl: 62px;
  --gap-xs: 12px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-lg: 18px;
  --gap-110xl: 129px;
  --gap-45xl: 64px;
  --gap-13xl: 32px;
  --gap-28xl: 47px;
  --gap-5xs: 8px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-6xs: 7px;
  --gap-103xl: 122px;
  --gap-42xl: 61px;
  --gap-2xs: 11px;
  --gap-75xl: 94px;
  --gap-48xl: 67px;
  --gap-19xl: 38px;
  --gap-11xs: 2px;
  --gap-29xl: 48px;
  --gap-55xl-8: 74.8px;
  --gap-18xl: 37px;
  --gap-7xl-3: 26.3px;
  --gap-7xs: 6px;
  --gap-13xl-7: 32.7px;
  --gap-22xl-5: 41.5px;
  --gap-17xl: 36px;
  --gap-56xl: 75px;
  --gap-24xl: 43px;
  --gap-65xl: 84px;
  --gap-sm: 14px;
  --gap-12xs: 1px;
  --gap-77xl: 96px;
  --gap-78xl: 97px;
  --gap-9xs: 4px;
  --gap-4xs-5: 8.5px;
  --gap-68xl: 87px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-2xl: 21px;
  --padding-lg: 18px;
  --padding-54xl-7: 73.7px;
  --padding-34xl: 53px;
  --padding-7xl: 26px;
  --padding-5xs: 8px;
  --padding-mid: 17px;
  --padding-12xs: 1px;
  --padding-17xl: 36px;
  --padding-32xl: 51px;
  --padding-6xl: 25px;
  --padding-10xs: 3px;
  --padding-23xl: 42px;
  --padding-4xl: 23px;
  --padding-3xl: 22px;
  --padding-42xl: 61px;
  --padding-21xl: 40px;
  --padding-50xl: 69px;
  --padding-58xl-7: 77.7px;
  --padding-118xl: 137px;
  --padding-49xl: 68px;
  --padding-15xl: 34px;
  --padding-45xl: 64px;
  --padding-44xl: 63px;
  --padding-30xl: 49px;
  --padding-mini: 15px;
  --padding-10xl: 29px;
  --padding-2xs: 11px;
  --padding-40xl: 59px;
  --padding-35xl: 54px;
  --padding-83xl-7: 102.7px;
  --padding-86xl: 105px;
  --padding-33xl: 52px;
  --padding-48xl: 67px;
  --padding-9xl: 28px;
  --padding-5xl: 24px;
  --padding-12xl: 31px;
  --padding-144xl-7: 163.7px;
  --padding-18xl: 37px;
  --padding-87xl: 106px;
  --padding-lgi: 19px;
  --padding-43xl: 62px;
  --padding-8xl: 27px;
  --padding-12xl-7: 31.7px;
  --padding-13xl: 32px;
  --padding-30xl-7: 49.7px;
  --padding-25xl: 44px;
  --padding-27xl: 46px;
  --padding-19xl: 38px;
  --padding-52xl-7: 71.7px;
  --padding-28xl: 47px;
  --padding-8xs: 5px;
  --padding-36xl: 55px;
  --padding-4xs: 9px;
  --padding-14xl: 33px;
  --padding-58xl: 77px;
  --padding-7xl-7: 26.7px;
  --padding-128xl: 147px;
  --padding-77xl: 96px;
  --padding-sm-7: 13.7px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-11xs: 2px;
  --padding-6xs-3: 6.3px;
  --padding-9xs: 4px;
  --padding-7xs: 6px;
  --padding-380xl: 399px;
  --padding-base: 16px;
  --padding-sm: 14px;
  --padding-smi: 13px;
  --padding-151xl: 170px;
  --padding-53xl: 72px;
  --padding-38xl: 57px;
  --padding-22xl: 41px;
  --padding-26xl: 45px;
  --padding-59xl: 78px;
  --padding-20xl: 39px;
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-6xs: 7px;
  --padding-16xl: 35px;
  --padding-52xl: 71px;
  --padding-69xl: 88px;
  --padding-57xl: 76px;
  --padding-55xl: 74px;
  --padding-51xl: 70px;
  --padding-37xl: 56px;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-15xl-5: 34.5px;
  --br-xl: 20px;
  --br-3xs: 10px;
}
